!!! 5
%html
  %head
    %title evan pavlica
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %script{src:'/scripts/main.js'}
    %link{href:'http://fonts.googleapis.com/css?family=Exo+2:400,300,700,400italic,300italic,900|Over+the+Rainbow|Slackey', rel:'stylesheet', type:'text/css'}
    %link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'}
    %link{rel:'shortcut icon', href:'favicon.ico'}
    %link{rel:'stylesheet', href:'/css/main.css', type:'text/css'}

