primary-color = #2B5AA6

body
  background url('/images/gplaypattern.png')
  font-family 'Exo 2', sans-serif

.newPost 
  input
  textarea
    display block
    border 1px solid primary-color
    width 400px
    margin 15px
    padding 10px

.keyms-post
  width 80%
  margin 1em auto
  background white
  background rgba(255,255,255,0.8)
  padding 1em
  a
    text-decoration none
    color primary-color

.keyms-nav
  div
    display inline-block
    width 50%
    margin 0 0 0 -5px
    // padding 10px

.keyms-title
  font-family 'Over The Rainbow', cursive
  a
    margin 0 0 0 25px
    text-decoration none
    color primary-color

.greeting
  text-align right
