.posts(ng-repeat='(postId, post) in posts')
  %a(href="/blog/{{ postId }}")
  %h3 {{ post.title }}
  %br
  {{ post.content }}

.newPost
  %form(ng-submit='submitPost()')
    %input(type='text' ng-model='post.title' placeholder='Title')
    %textarea(ng-model='post.content' placeholder='Content')
    %input(type='text' ng-model='post.category' placeholder='Categories')
    %input(type='submit' value='Add Post')

{{ $location.url }}