=hi-res-media
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    @content

$teal: #203E4A
$turquiose: #097988
$marsala: #964F4C
$peach: #F99471
$light_green: #D5DEC9


$base_color: white
$primary_highlight: $teal
$secondary_higlight: $marsala


