font : Exo2.0 by Nathanael Gama and shared by Smashing Magazine. Get it at http://www.smashingmagazine.com/2013/12/10/freebie-exo-2.0-geometric-sans-serif-font

background : GPlay by Dimitrie Hoekstra. Get it at http://subtlepatterns.com/gplay/

