!!! 5
%html
  %head
    %title evan pavlica | colophon
    %link{href:'/styles/normalize.css', rel:'stylesheet', type:'text/css'}
    %link{href:'/styles/site.css', rel: 'stylesheet', type:'text/css' }

  %body
    .main-container.colophon
      %h2 Site Colophon
      %p
        This site was built in Los Angeles with open-source tools including:
      %ul
        %li
          .red font
          Exo2.0 by Nathanael Gama and shared by Smashing Magazine. Get it at
          %a{href:'http://www.smashingmagazine.com/2013/12/10/freebie-exo-2.0-geometric-sans-serif-font'} smashing magazine.

background : GPlay by Dimitrie Hoekstra. Get it at http://subtlepatterns.com/gplay/

