!!! 5
%html
  %head
    %meta{charset:'utf-8'}
    %meta{name:'viewport', content:'width=device-width'}
    %title in the key of E | a blog by Evan Pavlica
    %script{src:'https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js'}
    %script{src:"https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-resource.js"}
    %script{src:"https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-cookies.js"}
    %script{src:"https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-sanitize.js"}
    %script{src:"https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-route.js"}
    %link{href:'http://fonts.googleapis.com/css?family=Exo+2:400,300,700,400italic,300italic,900', rel:'stylesheet', type:'text/css'}
    %link{href:'//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel:'stylesheet'}
    %link{rel:'stylesheet', href:'/styles/normalize.css'}
    %link{rel:'stylesheet', href:'/css/keyms.css', type:'text/css'}
  %body(ng-app='keymsApp')
    .container(ng-view='')
  %script{src:"/scripts/app.js"}
  %script{src:"/scripts/controllers/posts-controller.js"}
  %script{src:"/scripts/controllers/users-controller.js"}
  %script{src:"/scripts/services/post.js"}

