!!! 5
%html
  %head
    %title evan pavlica
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %script{src:'//code.jquery.com/jquery-1.10.2.min.js'}
    %script{src:'/javascript/xicreative.js'}
    %script{src:'/javascript/comment.min.js', firebase:'https://fire-list.firebaseio.com/'}
    %link{href:'http://fonts.googleapis.com/css?family=Exo+2:400,300,700,400italic,300italic,900|Over+the+Rainbow|Slackey', rel:'stylesheet', type:'text/css'}
    %link{rel:'shortcut icon', href:'favicon.ico'}
    %link{href:'//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel:'stylesheet'}
    %link{href:'/styles/site.css', rel: 'stylesheet', type:'text/css' }
    %link{href:'/styles/normalize.css', rel:'stylesheet', type:'text/css'}
  %body

    /nav is only for menu roll-up (mobile)
    %nav{id:'mobileNav'}
      #dropdownMenuBtn
        %i{class:'fa fa-align-left'}
      %span{class:'nameTopper'}evan.pavlica.us
    #dropdownMenu

    /the body of the page
    .main-container.row

      /hold links, etc. in this nav column
      .g-1-4.nav-column
        %ul
          %h5 Info
          %a{href:'/resume', class:'resume'}
            %li
              %i{class:'fa fa-file-text'}
              resume
          %a{href:'https://github.com/xicreative', class:'gh'}
            %li
              %i{class:'fa fa-github-square'}
              github
          %a{href:'https://twitter.com/e_pavlica', class:'tw'}
            %li
              %i{class:'fa fa-twitter-square'}
              twitter
          %a{href:'https://plus.google.com/+EvanPavlica/', class:'gp'}
            %li
              %i{class:'fa fa-google-plus-square'}
              google+
          %a{href:'https://linkedin.com/in/epavlica', class:'ln'}
            %li
              %i{class:'fa fa-linkedin-square'}
              linkedin
          %a{href:'#', class:'contact contactBtn'}
            %li
              %i{class:'fa fa-phone-square'}
              contact
        %ul
          %h5 Projects
          %a{href:'http://spyrolo.us', class:'spy'}
            %li
              spyrolo.us
          %a{href:'http://hoptoit.herokuapp.com/', class:'hop'}
            %li
              %span hop to it
          %a{href:'http://dalsegno.herokuapp.com', class:'ds'}
            %li
              dalSegno
              %i{class:'segno'}
          %a{href:'http://tiqtac.herokuapp.com', class:'tt'}
            %li TiqTacToe
          %a{href:'/about', id:'colophon-star'}
            %i{class:'fa fa-star', title:'colophon'}

      /main page content goes here.
      .g-3-4
        .content
          .row
            .g-2-3.n-r
              :plain
                <svg viewBox='0 0 700 85' id="web-dev">
                <text x="9.2558651" y="38.000999" id="text7717" style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#9d8fe7;fill-opacity:0.94117647;stroke:none;font-family:inherit">
                  <tspan x="9.2558651" y="38.000999" id="tspan7719" style="font-size:53px;fill:#9d8fe7;fill-opacity:0.94117647">fabulous</tspan>
                </text>
                <text x="202.78987" y="81.147087" id="text7721" style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#a6e7dd;fill-opacity:0.94117647;stroke:none;font-family:inherit">
                  <tspan x="202.78987" y="81.147087" id="tspan7723" style="font-size:35px;fill:#a6e7dd;fill-opacity:0.94117647">clever</tspan>
                </text>
                <text x="244.08974" y="37.14283" id="text7733" style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#fddca1;fill-opacity:1;stroke:none;font-family:inherit">
                  <tspan x="244.08974" y="37.14283" id="tspan7735">functional</tspan>
                </text>
                <text x="583.36707" y="44.052727" id="text7737" style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#75d0c1;fill-opacity:1;stroke:none;font-family:inherit">
                  <tspan x="583.36707" y="44.052727" id="tspan7739" style="font-size:32px;fill:#75d0c1;fill-opacity:1">fun</tspan>
                </text>
                <text x="393.26385" y="84.090858" id="text7741" style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#8eaee1;fill-opacity:1;stroke:none;font-family:inherit">
                  <tspan x="393.26385" y="84.090858" id="tspan7743" style="font-size:52px;fill:#8eaee1;fill-opacity:1">creative</tspan>
                </text>
                <text x="-3.5999999" y="66.025932" id="text8277" style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:inherit">
                  <tspan x="-3.5999999" y="66.025932" id="tspan8279" style="font-size:48px;font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;text-align:start;line-height:125%;writing-mode:lr-tb;text-anchor:start;font-family:inherit;-inkscape-font-specification:'Exo 2.0 Semi-Bold'">Full-Stack Web Development</tspan>
                </text>
              </svg>
            .g-1-3.n-r
              .evanPic{title:'that tickles!'}
          .row
            .g-2-3
              .hi hello!
              %h3 welcome to the homepage for evan pavlica.
            .g-1-3
          .row
            .g-2-3
              %p
                I am a Los Angeles based full-stack web developer with experience in Ruby on Rails, Angular.js, HTML5, CSS, and JavaScript. I was educated at <a href='https://generalassemb.ly/education/web-development-immersive/los-angeles'>General Assembly</a> Los Angeles, and have a passion for code.
              %p
                My design philosophy is that the <em>user comes first</em>. A functional, reponsive, and appealing application can engage and delight the user, and keep them coming back for more. I am motivated by solving problems, and strive to continuously improve and innovate in all of my endeavours.
              %p
                I believe that open-source is the way of the future, and that the internet offers a vast number of opportunities that are ready to be taken advantage of. I enjoy playing with the latest technologies, and hope to make useful contributions to Web 3.0. One of my favorite mantras, "keep moving forward" perpetually inspires me to reach for a bigger, more beautiful tomorrow.
              %p
                On this site, please find my resume and contact information, as well as links to various projects I have created. Stay tuned, as my blog is coming soon!
              %p
                Thanks for visiting.
                %i{class:'fa fa-smile-o'}
            .g-1-3


    /a card that will be displayed when the 'contact' link is clicked.
    #contactCard
      #closeContact
        %i{class:'fa fa-times'}
      .hi
        contact me!
      .row
        .g-1-4
          %i{class:'fa fa-envelope-o'}
          email
        .g-3-4
          %a{href:'mailto:epavlica@gmail.com'} epavlica@gmail.com
          %br
          %a{href:'mailto:evan@xicreative.net'} evan@xicreative.net
      .row
        .g-1-4
          %i{class:'fa fa-phone'}
          phone
        .g-3-4
          818.428.5200

