!!! 5
%html
  %head
    %title evan pavlica
    %link{href:'http://fonts.googleapis.com/css?family=Exo+2:400,300,700,400italic,300italic,900|Over+the+Rainbow|Codystar', rel:'stylesheet', type:'text/css'}
    %link{href:'//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel:'stylesheet'}
    %link{href:'/styles/site.css', rel: 'stylesheet', type:'text/css' }
    %link{href:'/styles/normalize.css', rel:'stylesheet', type:'text/css'}
  %body
    .main-container.row
      .g-1-4.nav-column
        %ul 
          %h5 Info
          %a{href:'/resume', class:'resume'}
            %li
              %i{class:'fa fa-file-text'}
              resume
          %a{href:'https://github.com/xicreative', class:'gh'}
            %li 
              %i{class:'fa fa-github'}
              github
          %a{href:'https://twitter.com/e_pavlica', class:'tw'}
            %li 
              %i{class:'fa fa-twitter'}
              twitter
          %a{href:'https://plus.google.com/+EvanPavlica/', class:'gp'}
            %li
              %i{class:'fa fa-google-plus-square'}
              google+
          %a{href:'https://linkedin.com/in/epavlica', class:'ln'}
            %li
              %i{class:'fa fa-linkedin-square'}
              linkedin
          %a{href:'/contact', class:'contact'}
            %li
              %i{class:'fa fa-phone-square'}
              contact
        %ul
          %h5 Projects
          %a{href:'http://spyrolo.us', class:'spy'}
            %li 
              %i
              spyrolo.us
          %li hoptoit
          %a{href:'http://dalsegno.herokuapp.com', class:'ds'}
            %li 
              %img{src:'/images/segno.svg', id:'segno'}
              %i
              dalSegno
          %li TiqTacToe
        %ul
          %li about
      .g-3-4
        .content
          .evanPic{title:'that tickles!'}
          .row
            .g-2-3
              .hi hello!
              %h3 welcome to the homepage for evan pavlica.
            .g-1-3
          .row
            .g-2-3
              Sed nulla quorum culpa aliquip quo quis cupidatat si exercitation. Non an dolor 
              doctrina si ita possumus despicationes aut te veniam pariatur admodum, noster 
              possumus ne appellat. In deserunt fidelissimae, nescius illum occaecat, ad nisi 
              nostrud tempor id culpa proident de tractavissent. Aliquip summis singulis 
              laborum, cernantur e quem, cernantur iis malis probant e an quid e enim aut 
              deserunt lorem quae non amet o ea voluptate instituendarum, cernantur a 
              senserit, esse quo nostrud. Mentitum hic possumus, appellat aute malis quo 
              multos. Arbitror hic enim laboris. Tempor e iudicem, sed e lorem iudicem.
            .g-1-3
