!!! 5
%html
  %head
    %title evan pavlica | resume
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %script{src:'//code.jquery.com/jquery-1.10.2.min.js'}
    %script{src:'/javascript/comment.min.js', firebase:'https://fire-list.firebaseio.com/'}
    %link{href:'http://fonts.googleapis.com/css?family=Exo+2:300,400,700,900', rel:'stylesheet', type:'text/css'}
    %link{href:'/styles/normalize.css', rel:'stylesheet', type:'text/css'}
    %link{href:'/styles/site.css', rel:'stylesheet', type:'text/css'}
    %link{href:'/styles/resume2.css', rel:'stylesheet', type:'text/css'}
    %link{href:'//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel:'stylesheet'}
  %body
    %nav
      %a{href:'/'}
        %i{class:'fa fa-arrow-circle-o-left'}
        Home
    .container
      %header
        .name
          Evan J Pavlica
        .row.address
          .g-1-2
            %i{class:'fa fa-home'}
            7737 Hollywood Boulevard, Los Angeles, CA 90046
          .g-1-4
            %i{class:'fa fa-phone'}
            818.428.5200
          .g-1-4
            %i{class:'fa fa-envelope'}
            %a{href:'mailto:epavlica@gmail.com'}epavlica@gmail.com

      #resumeBody

        / ******* Languages & Technologies *******
        .row.section
          .g-1-4.centered.o-1
            .dot{title:'Languages & Technologies'}
              .v-1-3
              .v-1-3
                %i{class:'fa fa-info'}
              .v-1-3
            /%span{class:'fa-stack fa-4x'}
            /  %i{class:'fa fa-circle fa-stack-2x'}
            /  %i{class:'fa fa-info fa-stack-1x fa-inverse'}
            .label
              Info
          #languages.g-3-4.o-2
            .row
              .g-1.description
                I am a Full-Stack Developer, capable of building and maintaining web applications using the latest technologies. In addition to back-end development skills using both relational and document-based databases, my front-end skills are informed by my 7 years experience in the entertainment industry, which strengthens my ability to design attractive, modern, user-friendly web experiences.
              .g-1-4.emphasis
                Languages
              .g-3-4.description
                Ruby, JavaScript, PHP, HTML 5, CSS, HAML, SASS, CoffeeScript
              .g-1-4.emphasis
                Technologies &amp; Frameworks
              .g-3-4.description
                Ruby on Rails, PostgreSQL, MySQL, MongoDB, Angular.js, Bootstrap, jQuery

        / ******* Technical Experience *******
        .row.section

          .g-1-4.centered.o-2
            .dot{title:'Development Experience'}
              .v-1-3
              .v-1-3
                %i{class:'fa fa-code'}
              .v-1-3
            .label
              Development Experience

          #techExperience.g-3-4.o-1
            /.g-1.emphasis
            /  Projects:

            .row
              / .g-1-4.emphasis
              /   %a{target:'_blank', href:'http://rockprodigy.com'} Rock Prodigy
              / .g-3-4.description
              /   As a web development consultant, I have helped add new features & improve the UX of Rock Prodigy's In-App webviews.

              .g-1-4.emphasis
                %a{target:'_blank', href:'http://tiqtac.herokuapp.com/'} Tiq Taq Toe
              .g-3-4.description
                A multi-player tic-tac-toe game built in Angular.js with a Firebase backend.


              .g-1-4.emphasis
                %a{target:'_blank', href:'http://dalsegno.herokuapp.com'} dalSegno
              .g-3-4.description
                A bulletin board web app intended for small communities; built on Ruby on Rails 4 with a MongoDB backend.


              / .g-1-4.emphasis
              /   %a{target:'_blank', href:'http://hoptoitfunding.com'} Hop To It
              / .g-3-4.description
              /   A crowd-funding web app built on Rails 4 and PostreSQL that would enable verified 501(c)3 organizations to crowd-fund projects.

              .g-1-4.emphasis
                %a{target:'_blank', href:'http://spyrolo.us'} Spyrolous
              .g-3-4.description
                A multi-user / multi-screen drawing app using jQuery and Snap.svg, built on Rails 4 and PostgreSQL.


              .g-1-4.centered
                %a{target:'_blank', href:'https://github.com/xicreative'}
                  %i{class:'fa fa-github fa-2x'}
              .g-3-4.description.emphasis
                Please visit my github to see the source code for all of my projects:
                %a{target:'_blank', href:'https://github.com/xicreative'}github.com/xicreative


        / ******* Work Experience ********
        .row.section
          .g-1-4.centered.o-1
            .dot{title:'Employment'}
              .v-1-3
              .v-1-3
                %i{class:'fa fa-briefcase'}
              .v-1-3
            .label
              Work Experience
          #employment.g-3-4.o-2
            .row
              .g-1-3
                General Assembly
              .g-1-3.emphasis
                WDI Expert-In-Residence
              .g-1-3
                &nbsp; 2014 - Present
            .g-1.description
              Instruct students in Ruby on Rails, Angular.js, and web standards & technologies during evening office hour sessions.
            .row
              .g-1-3
                Music Prodigy
              .g-1-3.emphasis
                Web Developer
              .g-1-3
                &nbsp; 2014
            .g-1.description
              Consultant for in-app PHP webviews. Added features and designed/implemented a new UI for the "Rock Prodigy" product. Re-factored legacy code to MVC pattern.
            .row
              .g-1-3
                CBS Entertainment
              .g-1-3.emphasis
                Admin. Assistant
              .g-1-3
                &nbsp; 2007-2013
            .g-1.description
              Prize Warehouse Administrative Assistant responsible for overseeing operations of $4.3 Million warehouse. Duties included inventory management, collaboration with <i>The Price is Right</i> producers, management of department records storage, and preparation of merchandise for display.

        / ****** Education Section *******
        .row.section
          .g-1-4.centered.o-2
            .dot{title:'Education'}
              .v-1-3
              .v-1-3
                %i{class:'fa fa-book'}
              .v-1-3
            .label
              Education

          #education.g-3-4.o-1
            .row
              .g-1-2
                General Assembly
              .g-1-2
                Santa Monica, CA
              .g-1-2.emphasis
                Web Development Immersive
              .g-1-2
                Fall 2013
            .g-1.description
              Full-stack web development training with emphasis in Ruby on Rails & Java script. This 12-week full-time immersive taught me agile web development & BDD / TDD, and gave me opportunity to add four projects to my portfolio while gaining valuable insight into the LA Startup scene.
            .row
              .g-1-2
                Columbia College Hollywood
              .g-1-2
                Tarzana, CA
              .g-1-2.emphasis
                BFA, Cinema / Television
              .g-1-2
                2005-2008
            .g-1.description
              <i>Producing Emphasis.</i> Education in all aspects of film / television production. Skills from Columbia College include Budgeting & Scheduling, Production Management, Sound Mixing, and Video Editing.

      %footer
        &Xi;
