<!DOCTYPE html>
<meta charset="utf-8">

<!-- Always force latest IE rendering engine or request Chrome Frame -->
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="theme-color" content="#964F4C">
<meta name="msapplication-navbutton-color" content="#964F4C">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<!-- Use title if it's in the page YAML frontmatter -->
<title><%= current_page.data.title || "evan pavlica" %></title>

<%= stylesheet_link_tag "all" %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<%= javascript_include_tag  "all" %>

<%= yield %>
