 /*CSS for evan pavlica's resume, 12/2013 */

/* Support for browsers that can't do flex-wrap (firefox) */
@supports not (flex-wrap: wrap) {
    .row { display: block }
  }

header {
  margin: 0 0 1em;
  /*border-bottom: 1px solid black;*/
  background: -webkit-linear-gradient(rgba(116, 116, 116, 0.3), rgba(255,255,255,0.7)); /*for safari*/
  background: linear-gradient(rgba(116, 116, 116, 0.3), rgba(255,255,255,0.7));
  padding: 0 .5em;
}

footer {
  text-align: center;
  background: -webkit-linear-gradient(rgba(255,255,255,0.7), rgba(116, 116, 116, 0.3)); /*for safari*/
  background: linear-gradient(rgba(255,255,255,0.7), rgba(116, 116, 116, 0.3));
  color: #524442;
}


.container {
  width: 80%;
  margin: 0 auto;
  background: #fff; /*fallback for older browsers*/
  background: rgba(255,255,255,0.7);
  box-shadow: 3px 0 3px rgba(116,116,116, 0.3), -3px 0 3px rgba(116,116,116, 0.3);
}



/* Styles inside the resume Header */
.name {
  font-size: 2.5em;
  font-weight:700;
}

.address {
  font-size: 0.8em;
  padding-bottom: 0.5em;
}

/* Styles for the Resume body */
#resumeBody {
padding: 0 .5em;
}

.centered {
  text-align:center;
}
.right-aligned {
  text-align:right;
}
.o-1 {
  order:1;
}
.o-2 {
  order:2;
}
@media screen and (max-width: 640px) {
  .o-1 {
    order:0;
  }
  .o-2 {
    order:0;
  }
}

.v-1-3 {
  width:100%;
  height:0;
  padding-bottom:33.33%;
}



.section {
  border-bottom: 1px solid black;
  margin-bottom: .75em;
  padding-bottom: .75em;
}

.dot {
  background: black;
  color: white;
  border-radius: 100%;
  text-align:center;
  font-weight: 700;
  /*text-decoration: underline;*/
  border-bottom: 1px solid black;
  width: 8vh;
  height: 8vh;
  display:inline-block;
  font-size: 2.65vh;
}

.dot .fa {
  position:relative;
  vertical-align:top;
}

.label {
  font-weight:700;
  font-variant:small-caps;
  margin-top: 5px;
}

.emphasis{
  font-weight: 700;
  /*font-variant: small-caps;*/
}

.red {
  color: #37527E;
}

.description {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.project {
  text-indent: 1em;
}

/* Styles for printing */
@media print {
  @page {
    margin: 0;
    }
  body {
    margin: .5cm;
  }
  footer {
    display: none;
  }
  a {
    color: black;
  }
  nav {
    display: none;
  }
  header {
    border-bottom: 1px solid black;
  }
  .container {
    width:100%;
    box-shadow: none;
  }
  .red {
    color: black;
  }
  #commentJs {
    display:none;
  }
  .dot {
    border: 2px solid black;
    color: black;
    height: 88px;
    width: 88px;
    font-size: 2em;
  }
  .row > .g-1-4 {
    flex: 5 1 20%;
  }
  .row > .g-3-4 {
    flex: 5 4 80%;
  }
}


