---
title: evan pavlica | web development and a whole lot more 🚀
---

%nav.pages-nav
  = page_btn(true)
  %a.resume-link{href: 'resume.html'} Resume
  = page_btn(false)
%main
  %section.landing-panel
    .landing-panel-stripe
    .container
      .section-content.hero-image
        %picture
          %source{media: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)', srcset: asset_path(:images, 'evan@2x.png')}
          %img{srcset: asset_path(:images, 'evan@1x.png'), alt: 'Evan Pavlica smiles against a white background.'}
      .section-content.relative
        .dot
        %hgroup
          %h1 evan pavlica
          %h2
            Web Development and a whole lot more.
        %p
          Greetings!
        %p
          Thank you for visiting my portfolio site. I hope it gives you an idea of who I am, and what I can do.
          %br
          I'm always looking new challenges and new adventures!

  %section.work-history
    .horizontal-line

    .container
      .section-content
        %hgroup
          %h1 Werk.

        %p
          I have a wide variety of experience in different work environments. I began my career in Film and Television, and transitioned to web development in 2013. I'm a smart, creative worker with a good work ethic and attention to detail.

        %p Check out the details of my work:

        %h2 Entertainment

        %ul.jobs-container

          %li.job
            %h4 Production Coordinator
            %h5
              %a{href: 'http://www.gmcla.org'} Gay Men's Chorus of Los Angeles
            .contents
              %strong 2013-present. 
              Produce theatrical productions for the 250+ member group. Coordinate between membership and production team, lead set building efforts, and participate in repertoire selection and performance.

          %li.job
            %h4 Administrative Assistant
            %h5
              %a{href: 'http://www.cbs.com'} CBS Entertainment
            .contents
              %strong 2007-2012. 
              Responsible for overseeing the operations of the CBS Prize Warehouse. Show support for
              %strong The Price is Right
              including proofreading promotional script copy and coordinating with show producers for preparation and display of prize merchandise.

      .section-content.flex
        %h2 Web Development

        %h3 Jobs
        %ul.jobs-container
          %li.job
            %hgroup
              %h4 Lead Web Developer
              %h5
                %a{href: 'http://altolabs.co'} Alto Labs
            .contents
              %strong 2014-present. 
              As the lead web developer at Alto Labs,
              I've had the privilege to work with skilled developers on a range of projects.
              Highlights of this role have been architecting the agency's first in-house project,
              %a{href: '#'} Snappic
              , and being the lead site maintainer for 
              %a{href: '#'} Boombotix
              \.
          %li.job
            %hgroup
              %h4 WDI Instructor
              %h5 
                %a{href: 'https://ga.co'} General Assembly
            .contents
              %strong 2014. 
              Getting to teach web development was a fun and enlightening experience. Getting back to basics and reviewing best practices with the students improved my own skills and gave me a fresh view of the art of programming.

        %h3 Projects
        %ul.jobs-container
          %li.job
            %h4 Snappic
            %h5
              %a{href: 'https://www.snappic.io'} https://www.snappic.io
            .contents
              I was the lead developer for this project. I engineered the MVC, then lead a team of engineers to roll out the completed application. 
              %br
              The technologies used on this project were:
              %ul
                %li Polymer (Frontend)
                %li Ruby on Rails (Backend)
                %li Cordova (iOS App)

          %li.job
            %h4 Boombotix
            %h5
              %a{href: 'https://www.snappic.io'} https://www.boombotix.com
            .contents
              As the lead maintainer of this site, I implemented the
              %a{href: 'https://store.boombotix.com/build-a-bot'} Build-A-Bot
              feature as well as many custom integrations into the client's Spree storefront.
              %br
              Technologies used:
              %ul
                %li Ruby On Rails
                %li Spree Commerce (E-Commerce platform)
                %li AngularJS (Build-A-Bot & Support pages)


  -# Work History Slide 2: Entertainment / Education
  %section.education
    .bg-dot-1.layer(data-depth="0.2")
    .bg-dot-2.layer(data-depth="0.5")

    .container
      .section-content.flex
        %h1 Education

        %p
          I think of myself as a life-long learner, and am known among my friends as being an encyclopedia of random knowledge. The subjects that I've studied, of course, are my specialty. Here's the details:

        %ul.jobs-container

          %li.job
            %h4 Web Development Immersive
            %h5
              %a{href: 'https://www.ga.co'} General Assembly
            .contents
              Full-stack web development training with emphasis in Ruby on Rails & JavaScript. This 12-week full-time immersive taught me agile web development & BDD / TDD, and gave me opportunity to add four projects to my portfolio while gaining valuable insight into the LA Startup scene.

          %li.job
            %h4 BFA, Cinema & Television
            %h5
              %a{href: 'http://www.cbs.com'} Columbia College Hollywood
            .contents
              %strong Producing Emphasis.
              Education in all aspects of film / television production. Skills from Columbia College include Budgeting & Scheduling, Production Management, Sound Mixing, and Video Editing

      .section-content.flex
        %h1 Interests

        %p
          Besides web development, I'm an avid musician, performing with the Gay Men's Chorus of Los Angeles and practicing as a solo cellist. I love going to the gym, karaoke, and shopping. My guilty pleasure is Disneyland.

        %hr

        %h1 Contact Me

        %p
          email: 
          %a{href: 'mailto:evan@pavlica.us'} evan@pavlica.us
          %br
          phone:
          %a{href: 'tel:+18184285200'} 818.428.5200
          %br

%footer
