---
title: evan pavlica | resume
---

%nav.resume
  %a{href:'/'}
    %i{class:'fa fa-arrow-circle-o-left'}
    Home
.resume-container
  %header.resume
    .name
      Evan J Pavlica
    .row.address
      .g-1-2
        %i{class:'fa fa-home'}
        7737 Hollywood Boulevard, Los Angeles, CA 90046
      .g-1-4
        %i{class:'fa fa-phone'}
        %a{href:'tel:+18184285200'}818.428.5200
      .g-1-4
        %i{class:'fa fa-envelope'}
        %a{href:'mailto:epavlica@gmail.com'}epavlica@gmail.com

  #resume-body
    -# Languages & Technologies
    .row.section
      .g-1-4.centered.o-1
        .resume-dot{title:'Languages & Technologies'}
          .vertical-centered-third
            %i{class:'fa fa-info'}
        .label
          Info
      #languages.g-3-4.o-2
        .row
          .g-1.description
            I am a Full-Stack Developer, capable of building and maintaining web applications using the latest technologies. In addition to back-end development skills using both relational and document-based databases, my front-end skills are informed by my 7 years experience in the entertainment industry, which strengthens my ability to design attractive, modern, user-friendly web experiences.
          .g-1-4.emphasis
            Languages
          .g-3-4.description
            Ruby, JavaScript, PHP, HTML 5, CSS, HAML, SASS, CoffeeScript
          .g-1-4.emphasis
            Technologies &amp; Frameworks
          .g-3-4.description
            Ruby on Rails, PostgreSQL, MySQL, MongoDB, Angular.js, Bootstrap, jQuery, Polymer

    -# Technical Experience
    .row.section
      .g-1-4.centered.o-2
        .resume-dot{title:'Development Experience'}
          .vertical-centered-third
            %i{class:'fa fa-code'}
        .label
          Development Experience

      #tech-experience.g-3-4.o-1
        .row
          .g-1-4.emphasis
            %a{href:'https://www.snappic.io'} Snappic
          .g-3-4.description
            As architect of this project, I created the MVC then lead a team in developing the production application. Technologies: Polymer,  Ruby on Rails, PostgreSQL. Integrations with Instagram and Shopify.

          .g-1-4.emphasis
            %a{href:'http://boombotix.com'} Boombotix
          .g-3-4.description
            As the chief maintainer of the Boombotix Spree application, I have had the opportunity to add components including the Build-A-Bot and Support features, as well as many integrations.

          .g-1-4.centered
            %a{href:'https://github.com/xicreative'}
              %i{class:'fa fa-github fa-2x'}

          .g-3-4.description.emphasis
            Please visit my github to see some samples of my work:
            %a{href:'https://github.com/xicreative'}github.com/xicreative


    -# Work Experience
    .row.section
      .g-1-4.centered.o-1
        .resume-dot{title:'Employment'}
          .vertical-centered-third
            %i{class:'fa fa-briefcase'}
        .label
          Work Experience
      #employment.g-3-4.o-2
        .row
          .g-1-3
            Alto Labs
          .g-1-3.emphasis
            Software Engineer
          .g-1-3
            2014 - Present
        .g-1.description
          Architect new features and maintain servers and codebase for clients.
        .row
          .g-1-3
            Gay Men's Chorus of Los Angeles
          .g-1-3.emphasis
            Production Coordinator
          .g-1-3
            2013 - Present
        .g-1.description
          Produce theatrical productions for 250+ member chorus. Coordinate between membership and production team, lead set building efforts, and participate in repertoire selection and performance.

        .row
          .g-1-3
            General Assembly
          .g-1-3.emphasis
            WDI Instructor
          .g-1-3
            2014
        .g-1.description
          Taught Ruby on Rails, Angular.js, and web standards &amp; technologies for the 12-week full-time immersive course.
        .row
          .g-1-3
            Music Prodigy
          .g-1-3.emphasis
            Web Developer
          .g-1-3
            2014
        .g-1.description
          Consultant for in-app PHP webviews. Added features and designed/implemented a new UI for the "Rock Prodigy" product. Re-factored legacy code to MVC pattern.
        .row
          .g-1-3
            CBS Entertainment
          .g-1-3.emphasis
            Admin. Assistant
          .g-1-3
            2007 - 2013
        .g-1.description
          Prize Warehouse Administrative Assistant responsible for overseeing operations of $4.3 Million warehouse. Duties included inventory management, collaboration with <i>The Price is Right</i> producers, management of department records storage, and preparation of merchandise for display.

    -# Education Section
    .row.section
      .g-1-4.centered.o-2
        .resume-dot{title:'Education'}
          .vertical-centered-third
            %i{class:'fa fa-book'}
        .label
          Education

      #education.g-3-4.o-1
        .row
          .g-1-2
            General Assembly
          .g-1-2
            Santa Monica, CA
          .g-1-2.emphasis
            Web Development Immersive
          .g-1-2
            Fall 2013
        .g-1.description
          Full-stack web development training with emphasis in Ruby on Rails &amp; JavaScript. This 12-week full-time immersive taught me agile web development &amp; BDD / TDD, and gave me opportunity to add four projects to my portfolio while gaining valuable insight into the LA Startup scene.
        .row
          .g-1-2
            Columbia College Hollywood
          .g-1-2
            Tarzana, CA
          .g-1-2.emphasis
            BFA, Cinema / Television
          .g-1-2
            2005 - 2008
        .g-1.description
          %i Producing Emphasis.
          Education in all aspects of film / television production. Skills from Columbia College include Budgeting &amp; Scheduling, Production Management, Sound Mixing, and Video Editing.

