@import '~normalize-scss/sass/_normalize'
@import '~@material/elevation/_mixins'
@import './styles/typography'

$base: 16px
$espresso: #483308
$capuccino: #733a1d
$psl: #a54e2a

html
  font-size: $base
  font-family: 'Syne', sans-serif;

body
  background-color: white;
  background-image: url('./images/purty-wood_2.png')

h1
  color: $espresso
  font-size: 2rem
  font-weight: 800

p
  font-size: 1rem
  margin: 0

ul
  list-style: none

#resume
  @include mdc-elevation(16);
  background-color: white
  border-radius: $base
  margin: 2rem
  max-width: 1024px;
  padding: 2rem

.icon
  width: 5rem
  > svg
    fill: $espresso
    stroke: $espresso

.grouping
  border-top: 2px solid $psl
  display: grid
  grid-template-areas: "head head" "icon text"
  grid-template-columns: 6rem
  grid-template-rows: 2rem auto
  margin-top: 1rem

  h3
    color: $capuccino
    grid-area: head
    line-height: 2rem
    margin: 0

  h4
    margin: 0.5rem 0

  .icon
    align-items: center
    display: flex
    grid-area: icon
    justify-content: center
    width: auto

  ul
    grid-area: text
